.button-wrapper {
    display: inline-block;
  }

  .button1 {
    display: inline-block;
    background-color: #ffffff;
    border: none;
    color: black;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 170px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button1 span::after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
  }

  .button1:hover span {
    padding-right: 15px;
  }

  .button1:hover span::after {
    opacity: 1;
    right: 0;
  }